body{
    background-color: blueviolet;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
}
p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.fomulario{
    margin-left: 15px;
    margin-bottom: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: gray;
    border: none;
 }
#form-container{
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px  30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
 }
label{
font-weight: bold;
}

input{
border-bottom: 2px  solid  #323232;
padding: 10px;
font-size: 1rem;
margin-bottom: 20px;
}

input:focus{
border-bottom: 2px solid #08558b;
}

#forgot-pass{
text-align: right;
display: block;
}

input[type="submit"]{
text-align: center;
text-transform: uppercase;
font-weight: bold;
border: none;
height: 40px;
border-radius: 20px;
margin-top: 30px;
color: #fff;
background-color: violet;
cursor: pointer;
}
input[type="submit"]:hover{
background-color: purple;
transition: .5s;
}
CSS
* {
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}

ul {
    margin: 0;
    padding:0;
}

li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}
* {
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
 
ul {
    margin: 0;
    padding:0;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid purple; 
    background: violet;
    text-decoration: none;
    color:#FFF;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}